node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
./tests/*/*.png
/blob-report/
srs/auth/defaultStorageState.json
srs/resources/screenshots/*.png
tests/hiddenElements.spec.ts-snapshots/*.png
