node_modules/
/test-results/
/playwright-report/
/allure-results/
/allure-report/
/playwright/.cache/
./tests/*/*.png
/blob-report/
src/auth/
srs/resources/screenshots/*.png
tests/hiddenElements.spec.ts-snapshots/*.png
.env
venv
logs/.*.json
logs/*.log
srs/resources/files/download/*.jpeg
.VSCodeCounter/*/*
.vscode
.husky