node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/launch.json
/eslintrc.js
LoginAuth.json
playwright/.auth
/test-results/
/playwright-report/
/playwright/.cache/
